@import url('https://fonts.google.com/specimen/Rowdies');
body {
    font-family: Rowdies;
}
* {
	padding:0;
	margin:0;
	font-family: sans-serif;
}

a {
	color: inherit;
	text-decoration: none;  
}
.medsos {
	padding:5px 0;
	
}
.medsos ul li {
	display: inline-block;
	color: #fff;
	margin-right: 10px;
}
.container {
	width:80%;
	margin:0 auto;
}
.container:after {
	content:'';
	display: block;
	clear: both;
}
header h1 {
	float: left;
	padding:15px 0;
	color: #148F77;
}


header ul {
	float: right;
}
header ul li {
	display: inline-block;
}
header ul li a {
	padding:25px 20px;
	display: inline-block;
}
header ul li a:hover {
	background-color: #148F77;
	color: #fff;
}
.active {
	background-color: #148F77;
	border-radius:  100px;
	color: #fff;
}
.banner {
	height: 60vh;
	background-image: url('../img/jumbotron-bg.jpg');
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner:after {
	content:'';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(20, 143, 119, .6);
	
}
.banner h2 {
	color: #fff;
	z-index: 1;
	padding: 20px 25px;
	border:3px solid #fff;
}
section {
	padding:50px 0;
}
section h3 {
	text-align: center;
	padding:20px 0;
	color: #148F77;
	margin-bottom: 25px;
}
.about,
.service {
	padding-bottom: 100px;
}
.about p {
	color: #666;
	word-spacing: 2px;
	line-height: 25px;
	margin-bottom: 20px;
	text-align: center;
}
.service {
	background-color: #f9f9f9;
}
.box {
	color: #148F77;
}
.box:after {
	content: '';
	display: block;
	clear: both;
}
.box .col-4 {
	width:25%;
	padding:20px;
	box-sizing: border-box;
	text-align: center;
	float: left;
}
.icon {
	width:70px;
	height:70px;
	border:1px solid;
	border-radius: 50%;
	text-align: center;
	line-height: 70px;
	font-size: 20px;
	margin:0 auto;
}
.box .col-4 h4 {
	margin:20px 0;
}
footer {
	padding:30px 0;
	background-color: #333;
	color: #fff;
	text-align: center;
}
.bg-loader {
	background-color: #eee;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bg-loader .loader {
	width:100px;
	height: 100px;
	border:3px solid #fff;
	border-radius: 50%;
	border-top-color: #148F77;
	border-right-color: #148F77;
	border-bottom-color: #148F77;
	animation: puterin .9s linear infinite;
}
.label {
	background-color: #148F77;
	color: #fff;
}
@keyframes puterin {
	100% {
		transform: rotate(360deg);
	}
}
@media screen and (max-width: 768px){
	.container {
		width:90%;
	}
	header h1 {
		text-align: center;
		float: none;
	}
	header ul {
		text-align: center;
		float: none;
	}
	.box .col-4 {
		width:100%;
		float: none;
		margin-bottom: 20px;
	}


	.hamburger {
		display: inline-block;
		cursor: pointer;
		-webkit-transition-property: opacity, -webkit-filter;
		transition-property: opacity, -webkit-filter;
		transition-property: opacity, filter;
		transition-property: opacity, filter, -webkit-filter;
		-webkit-transition-duration: 0.9s;
				transition-duration: 0.9s;
		-webkit-transition-timing-function: linear;
				transition-timing-function: linear;
		font: inherit;
		color: inherit;
		text-transform: none;
		background-color: transparent;
		border: 0;
		margin: 0;
		overflow: visible;
	  }
	  
	  .hamburger:hover {
		opacity: 0.7;
	  }
	  
	  .hamburger-box {
		width: 30px;
		height: 21px;
		display: inline-block;
		position: relative;
	  }
	  
	  .hamburger-inner {
		display: block;
		top: 50%;
		margin-top: -1.5px;
	  }
	  
	  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
		width: 30px;
		height: 3px;
		background-color: #444;
		border-radius: 10px;
		position: absolute;
		-webkit-transition-property: -webkit-transform;
		transition-property: -webkit-transform;
		transition-property: transform;
		transition-property: transform, -webkit-transform;
		-webkit-transition-duration: 0.3s;
				transition-duration: 0.3s;
		-webkit-transition-timing-function: ease;
				transition-timing-function: ease;
	  }
	  
	  .hamburger-inner::before, .hamburger-inner::after {
		content: "";
		display: block;
	  }
	  
	  .hamburger-inner::before {
		top: -9px;
	  }
	  
	  .hamburger-inner::after {
		bottom: -9px;
	  }
	  
	  .hamburger--elastic .hamburger-inner {
		top: 1.5px;
		-webkit-transition-duration: 0.45s;
				transition-duration: 0.45s;
		-webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
				transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	  }
	  
	  .hamburger--elastic .hamburger-inner::before {
		top: 9px;
		-webkit-transition: opacity 0.43s 0.275s ease;
		transition: opacity 0.43s 0.275s ease;
	  }
	  
	  .hamburger--elastic .hamburger-inner::after {
		top: 18px;
		-webkit-transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		transition: -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	  }
	  
	  .hamburger--elastic.is-active .hamburger-inner {
		-webkit-transform: translate3d(0, 9px, 0) rotate(135deg);
				transform: translate3d(0, 9px, 0) rotate(135deg);
		-webkit-transition-delay: 0.075s;
				transition-delay: 0.075s;
	  }
	  
	  .hamburger--elastic.is-active .hamburger-inner::before {
		-webkit-transition-delay: 0s;
				transition-delay: 0s;
		opacity: 0;
	  }
	  
	  .hamburger--elastic.is-active .hamburger-inner::after {
		-webkit-transform: translate3d(0, -18px, 0) rotate(-270deg);
				transform: translate3d(0, -18px, 0) rotate(-270deg);
		-webkit-transition-delay: 0.075s;
				transition-delay: 0.075s;
	  }
	  
	  .custom-navbar {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1000;
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
			-ms-flex-align: center;
				align-items: center;
		-webkit-transition: all, 0.3s;
		transition: all, 0.3s;
		font-family: 'Baloo Paaji', cursive;
	  }
	  
	  @media (prefers-reduced-motion: reduce) {
		.custom-navbar {
		  -webkit-transition: none;
		  transition: none;
		}
	  }
	  
	  .custom-navbar .logo {
		font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (1300 - 300)));
		text-decoration: none;
		color: #fff;
	  }
	  
	  .custom-navbar .container {
		-webkit-box-flex: 1;
		-webkit-flex-grow: 1;
			-ms-flex-positive: 1;
				flex-grow: 1;
		min-height: 100px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
			-ms-flex-align: center;
				align-items: center;
		-webkit-transition: all, 0.3s;
		transition: all, 0.3s;
	  }
	  
	  @media (prefers-reduced-motion: reduce) {
		.custom-navbar .container {
		  -webkit-transition: none;
		  transition: none;
		}
	  }
	  
	  .custom-navbar .hamburger {
		margin-left: 20px;
		padding-top: 5px;
	  }
	  
	  .custom-navbar .hamburger .hamburger-inner, .custom-navbar .hamburger .hamburger-inner::before, .custom-navbar .hamburger .hamburger-inner::after {
		background: #fff;
	  }
	  
	  .custom-navbar .nav {
		list-style-type: none;
		padding-left: 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-align: center;
		-webkit-align-items: center;
			-ms-flex-align: center;
				align-items: center;
		margin: 0;
		margin-left: auto;
	  }
	  
	  .custom-navbar .nav .item {
		margin: 0 10px;
	  }
	  
	  .custom-navbar .nav .item .link {
		color: #fff;
		font-weight: 500;
		text-decoration: none;
	  }
	  
	  .custom-navbar .nav .item .link:hover, .custom-navbar .nav .item .link.active {
		color: #695aa6;
	  }
	  
	  .custom-navbar.affix {
		background: #fff;
		border-bottom: 1px solid rgba(222, 226, 230, 0.34);
	  }
	  
	  .custom-navbar.affix .logo {
		color: #695aa6;
	  }
	  
	  .custom-navbar.affix .container {
		min-height: 65px;
	  }
	  
	  .custom-navbar.affix .nav .item .link {
		color: #6c757d;
	  }
	  
	  .custom-navbar.affix .hamburger-inner, .custom-navbar.affix .hamburger-inner::before, .custom-navbar.affix .hamburger-inner::after {
		background: #6c757d;
	  }
	  